* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-color: #61988e;
    --sec-color: #686464;
}

body {
    background-color: #F5F5F5;
    font-family: Helvetica, Arial, sans-serif;
}


header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    Font-size: 32px;
    color: var(--prim-color);
    font-weight: bold;
    margin: 0px; 
}

header a {
    text-decoration: none;
    color: var(--sec-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

/*
section {
    padding: 60px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: var(--prim-color);
    background-color: var(--sec-color);
}

.hero-info {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    margin: 1%;
}

.hero img {
    width: 300px
}

.hero h3 {
    font-size: 30px;
    text-align: left;
    font-weight: lighter;
}

.hero p {
    width: 25%;
}
*/