* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-color: #61988e;
    --sec-color: #686464;
}

body {
    background-color: #F5F5F5;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    Font-size: 32px;
    color: var(--prim-color);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;

}



